*{
    box-sizing: border-box;
}
body{
    font-family: Arial, serif;
    margin: 0;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #b3a79b;
    transition: 0.5s;
}

body.active{
    background-color: darkgray;
}

.container{
    width: 800px;
    height: 500px;
    padding: 40px 0;
    position: relative;
}

.block{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.2);

    display: flex;
    align-items: center;
}

.block-item{
    text-align: center;
}

.block-item_tittle{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

.block-item__btn{
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.block_item{
    width: 50%;
}

.form-box{
    background-color: white;
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    transition: 0.5s ease-in-out;

    display: flex;
    align-items: center;

    overflow: hidden;
}

.form-box.active{
    left: 50%
}

.form{
    width: 100%;
    padding: 50px;
    font-size: 16px;

    position: absolute;
    transition: 0.5s;
}

.form_signin{
    left: 0;
    transition-delay: 0.25s;
}

.form_signup{
    left: 100%;
    transition-delay: 0s;
}

.form-box.active .form_signin{
    left: -100%;
    transition-delay: 0s;
}

.form-box.active .form_signup{
    left: 0;
    transition-delay: 0.25s;
}

.form_tittle{
    font-size: 1.5rem;
    font-weight: 500;
    color: #333333;
}

.form_input{
    width: 100%;
    padding: 10px;
    border: solid 1px #333333;
    font-size: inherit;
}

.password{
    width: 100%;
    padding: 10px;
    border: solid 1px #333333;
    font-size: inherit;
}

.form_btn{
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: #b3a79b;
    color: white;
    padding: 10px 50px;
}

.form_byn_signup{
    background-color: darkred;
}

.form_forgot{
    color: #333333;
}